<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous"
        />
        <link rel="stylesheet" href="assets/styles/estilos.css" />
    </head>
    <body>
        <h1>Skate Park</h1>

        <div class="py-4">
        <h2>Datos del perfil</h2>
        <hr class="w-50" />

        <form>
            <div class="form-group row w-50 m-auto">
            <div class="form-group col-12 col-sm-6">
                <label>Email</label>
                <input
                class="form-control m-auto" name="email" type="email" id="email"
                disabled
                />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Nombre</label>
                <input class="form-control m-auto" name="nombre" type="text" id="nombre" required />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Password</label>
                <input
                type="password" name="password" id="password" required
                class="form-control m-auto"
                />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Repita la password</label>
                <input
                type="password"
                class="form-control m-auto"
                id="password2"
                />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Años de experiencia</label>
                <input class="form-control m-auto" name="anos_experiencia" type="number" id="anos_experiencia" required/>
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Especialidad</label>
                <input class="form-control m-auto" name="especialidad" type="text" id="especialidad" required/>
            </div>
            </div>
            <div class="mb-1">
            <button class="btn btn-primary">Actualizar</button>
            </div>
            <div>
            <button type="button" class="btn btn-danger" id="eliminarUsuario">Eliminar cuenta</button>
            </div>
        </form>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let usuarioId;
        
        // Función para obtener a usuario
        function obtenerDatosUsuario() {
            axios.get('/usuario', {
                headers: {
                    Authorization: localStorage.getItem('token') // Obtener el token
                }
            })
            .then(function(response) {
                const usuario = response.data;
                document.getElementById('email').value = usuario.email;
                document.getElementById('nombre').value = usuario.nombre;
                document.getElementById('password').value = usuario.password;
                document.getElementById('password2').value = usuario.password;
                document.getElementById('anos_experiencia').value = usuario.anos_experiencia;
                document.getElementById('especialidad').value = usuario.especialidad;
                usuarioId = usuario.id;
                console.log("primero: ",usuarioId);
            })
            .catch(function(error) {
                console.error('Error al obtener los datos del usuario:', error);
                alert('Error al obtener los datos del usuario');
            });
        }
        // funcion para eliminar usuario
        function eliminarUsuario() {
            console.log("segundo: ",usuarioId)
            axios.delete('/usuario/' + usuarioId, {
                headers: {
                    Authorization: localStorage.getItem('token') // Obtener el token
                },
                timeout: 5000
            })
            .then(function(response) {
                alert('Usuario eliminado correctamente');
                window.location.href = '/';
            })
            .catch(function(error) {
                console.error('Error al eliminar usuario:', error);
                alert('Error al eliminar usuario');
            });
        }

        window.onload = function() {            
            document.getElementById('eliminarUsuario').addEventListener('click', eliminarUsuario);
            obtenerDatosUsuario();
        };
    </script>
</html>
