<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/styles/estilos.css" />
  </head>
  <body>
    <h1>Skate Park</h1>

    <div class="py-5">
      <h2>Iniciar Sesión</h2>
      <hr class="w-50" />

      <form id="loginForm">
        <div class="form-group">
          <div class="form-group">
            <label>Email</label>
            <input class="form-control w-50 m-auto" type="email" id="email" name="email" required />
          </div>
          <div class="form-group">
            <label>Password</label>
            <input class="form-control w-50 m-auto" type="password" id="password" name="password" required />
          </div>
        </div>
        <button type="submit" class="btn btn-success mb-3">Ingresar</button>
        <p>¿Aún no tienes cuenta? <a href="/registrarme">Regístrate</a></p>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);

            axios.post('/login', formData)
                .then(function(response) {
                  const token = response.data.token;
                  localStorage.setItem('token', token);
                  alert(response.data.message);
                  window.location.href = '/datos';
                })
                .catch(function(error) {
                    console.error('Error:', error);                    
                    alert('Error al iniciar sesión: ' + error.response.data);
                    
                });
        });
    </script>
  </body>
</html>